/* Define color variables */
:root {
  --bg-primary: #373832;
  --font-primary: #ffffff;
  --color-main-1: #c7e034;
  --color-main-2: #a5b648;
  --color-main-3: #828b4f;
  
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--font-primary);
  background-color: var(--bg-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--color-main-1);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-main-2);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg-primary);
  color: var(--font-primary);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--font-primary);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-main-3);
  cursor: pointer;
  transition: border-color 0.25s;
  color: var(--font-primary);
}
button:hover {
  background-color: var(--color-main-2);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Override default styles for inputs and other elements */
input, textarea, select {
  background-color: #2d2e28;
  color: var(--font-primary);
  border: 1px solid var(--color-main-3);
}

input:focus, textarea:focus, select:focus {
  border-color: var(--color-main-1);
  outline: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--font-primary);
    background-color: var(--bg-primary);
  }
  a:hover {
    color: var(--color-main-2);
  }
  button {
    background-color: var(--color-main-3);
    color: var(--font-primary);
  }
}
